* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(238, 236, 236);
}

.all-chat {
  background-color: #fff;
  display: flex;
  height: 100vh;
}

.search {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  border: 2px solid rgb(167, 167, 167);
  ;
}


.sidebar {
  padding: 40px;
  width: 20%;
  border-right: 2px solid grey;

}

img {
  width: 50px;
  border-radius: 30px;
}

.contact {
  display: flex;
  gap: 10px;
}

.contact-list {
  padding: 10px;
}

.status {
  margin-top: 5px;
}

.chat-header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-bottom: 2px solid grey;
}

.chat-buttons {
  display: flex;
  margin-right: 50px;
  gap: 5px;

}

.chat {
  flex: auto;
}

.chat-footer {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.chat-message {
  background-color: rgb(236, 236, 236);
  padding: 50px;
  height: 70%;
  border-bottom: 2px solid grey;
}

.footer {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(167, 167, 167);
  width: 100%;
}

.footer-send {
  width: auto;
  font-size: 20px;
  background: none;
  border: none;
}

.received {
  background-color: rgb(172, 172, 172);
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 30px;
}

.short {
  width: 15%;
  background-color: rgb(172, 172, 172);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.send {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 30px;
  margin-left: auto;
}


.offline::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.online::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.offline-div {
  background-color: rgb(147, 255, 147);
  width: 100%;
  border-radius: 8px;
  padding: 10px;
}

/*pantalla para tablet*/
@media (max-width: 880px) {
  .sidebar {
    display: none;
  }

  .message {
    width: 90%;
  }
}

/*pantalla para celular*/
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .message {
    width: 90%;
  }
}